ansitable==0.10.0
appnope==0.1.4
asttokens==2.4.1
black==24.4.2
cfgv==3.4.0
clarabel==0.9.0
click==8.1.7
colored==2.2.4
comm==0.2.2
contourpy==1.2.1
cvxpy==1.5.1
cycler==0.12.1
debugpy==1.8.2
decorator==5.1.1
distlib==0.3.8
ecos==2.0.14
exceptiongroup==1.2.2
executing==2.0.1
filelock==3.15.4
fonttools==4.53.1
hybrid_ode_sim @ git+https://github.com/micahreich/hybrid_ode_sim.git@200b65ed2432a8d8a20b12d00e2c7f5dc5eb2991
identify==2.6.0
importlib_metadata==8.0.0
importlib_resources==6.4.0
ipykernel==6.29.5
ipython==8.18.1
isort==5.13.2
jedi==0.19.1
jupyter_client==8.6.2
jupyter_core==5.7.2
kiwisolver==1.4.5
matplotlib==3.8.3
matplotlib-inline==0.1.7
mpmath==1.3.0
mypy-extensions==1.0.0
nest-asyncio==1.6.0
nodeenv==1.9.1
numpy==1.26.4
osqp==0.6.7.post0
packaging==24.1
parso==0.8.4
pathspec==0.12.1
pexpect==4.9.0
pillow==10.4.0
platformdirs==4.2.2
pre-commit==3.7.1
prompt_toolkit==3.0.47
psutil==6.0.0
ptyprocess==0.7.0
pure-eval==0.2.2
Pygments==2.18.0
pyparsing==3.1.4
python-dateutil==2.9.0.post0
PyYAML==6.0.1
pyzmq==26.0.3
qdldl==0.1.7.post4
scipy==1.13.1
scs==3.2.6
six==1.16.0
spatialmath-python==1.1.9
stack-data==0.6.3
sympy==1.13.3
tomli==2.0.1
tornado==6.4.1
traitlets==5.14.3
typing_extensions==4.12.2
-e git+ssh://git@github.com/micahreich/uav_control.git@6994ef537ee3a47f7c0a25df6c974abf9e44f74d#egg=uav_control
virtualenv==20.26.3
wcwidth==0.2.13
zipp==3.19.2
